<div class="main-container">
  <div class="skills-banner">
    <h1>Skills</h1>
  </div>
  <div class="cards-container">
    <div class="card" *ngFor="let skill of skills; let i = index; let last = last">
      <div class="card-content">
        <div class="card-header">{{i+1 + ' ' + skill.name}}</div>
        <div class="card-image"><img src="assets/images/html.png"/></div>
        <button class="card-button" *ngIf="!last">Learn More</button>
      </div>
    </div>
  </div>
</div>
<div>ASDA</div>
